# PostgreSQL configuration for Rails 8 (Windows compatible)

default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  port: 5432
  username: postgres
  password: qwerty
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: backend_development

test:
  <<: *default
  database: backend_test

production:
  primary:
    <<: *default
    database: backend_production
    username: backend
    password: <%= ENV["BACKEND_DATABASE_PASSWORD"] %>

  cache:
    <<: *default
    database: backend_production_cache
    migrations_paths: db/cache_migrate

  queue:
    <<: *default
    database: backend_production_queue
    migrations_paths: db/queue_migrate

  cable:
    <<: *default
    database: backend_production_cable
    migrations_paths: db/cable_migrate
